# Lecture 3 Preprocessing
__MATH 3480__ - Dr. Michael Olson

Reading:
* Geron, Chapter 2, pp. 62-75

In Exploratory Data Analysis, we need to follow these steps:
1. Obtain and Clean the Data
2. Wrangle the Data
3. Look at statistical calculations
4. Graph the data 
5. Draw conclusions and make hypotheses from (3) and (4), looking for relationships that we might use

|              | Quantitative Data | Categorical Data |
| :----------- | :---------------- | :--------------- |
| Calculations | Mean, Mode<br>5-summary Statistics<br>Distributions (count, standard deviation/variance) | Probabilities<br>Expected Values<br>Probability/Binomial/etc. Distributions |
| Graphs       | Histogram/KDE (kernel density estimator)<br>Boxplot/Violinplot<br>Scatterplot<br>Timeseries<br>Heatmap | Barplot<br>Pie Chart<br>Venn Diagram<br>Tree Diagram |

The goal of EDA:
* Derive Insights
* Generate Hypotheses

In order to have data ready for modeling, we have to pre-process the data. For the pre-processing, we have a few steps, some of which we have seen:

1. Take care of missing data
2. Encoding categorical data
3. Splitting the Data (Cross Validation)
4. Feature Scaling

We're going to look at this three ways

1. Using functions as we have seen in our courses so far
   * Additionally, how to execute these these in one command (piping)
2. Using classes and objects (Still building this part of the lecture)
3. Using pre-built classes in *sci-kit learn*
   * Additionally, how to execute these these in one command (piping)

-----

We will use the following dataset on weight loss in each case.
> For a reminder on Obtaining and Loading data, look at the [MATH 3080 Notes](https://github.com/drolsonmi/math3080)

In [1]:
import numpy as np
import pandas as pd

exercise = pd.read_csv('Data/exercise.csv')
display(exercise)

,Date,Calories,Exercise Type,Length of Exercise (min),Quality of Exercise,Next-day Weight,Weight Lost
0,1-Jan,2520.0,Running,10,Low,194.5,0.0
1,2-Jan,1850.0,Stairs,10,High,193.0,1.5
2,3-Jan,1925.0,Swimming,30,Medium,191.8,1.2
3,4-Jan,1790.0,Running,20,High,187.0,4.8
4,5-Jan,2120.0,Stairs,10,Medium,189.0,-2.0
5,6-Jan,1910.0,Swimming,35,Medium,186.0,3.0
6,7-Jan,1845.0,Running,20,Low,186.0,0.0
7,8-Jan,2343.0,Stairs,15,Low,189.0,-3.0
8,9-Jan,1886.0,Swimming,30,High,188.0,1.0
9,10-Jan,2149.0,Running,15,High,190.0,-2.0
10,11-Jan,1797.0,Stairs,10,High,187.0,3.0
11,12-Jan,NaN,Swimming,25,Medium,186.0,1.0
12,13-Jan,1934.0,Running,10,High,184.0,2.0
13,14-Jan,2129.0,Stairs,5,Low,186.0,-2.0
14,15-Jan,1872.0,Swimming,0,NaN,185.0,1.0
15,16-Jan,1957.0,Running,15,Medium,183.5,1.5
16,17-Jan,1790.0,Stairs,10,Medium,181.0,2.5
17,18-Jan,NaN,Swimming,30,High,180.0,1.0
18,19-Jan,1842.0,Running,25,High,178.0,2.0
19,20-Jan,2173.0,Stairs,15,Medium,178.3,-0.3

Looking at the data here, note that this is what we will need to do in order to use this data in a model.
* Drop the *Date* column
* Missing values in the *Calories* category
    * Let's replace with a mean value
* *Exercise Type* is a nominal variable and needs to become numerical
    * Being a nominal variable, we don't want to just turn the categories into numbers as we don't want to unintentionally indicate an order
    * Let's use One-hot encoding (also known as dummy variables)
* *Quality of Exercise* is an ordinal variable and needs to become numerical
    * Since there is an order to the categories, we can merely replace each category with a numerical value
* Scale the variables to the same scale (*feature scaling*)

## Using functions

In [2]:
# Drop the date column
def drop_col(x,col):
    x.drop(col, axis=1, inplace=True)
    return x

# Function to fill in missing values
def fill_avg(x,col):
    x[col].replace(np.nan, x[col].mean(), inplace=True)
    return x

# One-hot encode
def one_hot(x,col):
    x = x.join(pd.get_dummies(x[col]).astype(int)).drop(col, axis=1)
    return x

# Ordinal Encode
def ordinal_encode(x,col):
    order = {
        'None':0,
        np.nan:0,
        'Low':1,
        'Medium':2,
        'High':3
    }
    x[col] = x[col].map(order)
    return x

In [3]:
drop_col(exercise,'Date')

,Calories,Exercise Type,Length of Exercise (min),Quality of Exercise,Next-day Weight,Weight Lost
0,2520.0,Running,10,Low,194.5,0.0
1,1850.0,Stairs,10,High,193.0,1.5
2,1925.0,Swimming,30,Medium,191.8,1.2
3,1790.0,Running,20,High,187.0,4.8
4,2120.0,Stairs,10,Medium,189.0,-2.0
5,1910.0,Swimming,35,Medium,186.0,3.0
6,1845.0,Running,20,Low,186.0,0.0
7,2343.0,Stairs,15,Low,189.0,-3.0
8,1886.0,Swimming,30,High,188.0,1.0
9,2149.0,Running,15,High,190.0,-2.0
10,1797.0,Stairs,10,High,187.0,3.0
11,NaN,Swimming,25,Medium,186.0,1.0
12,1934.0,Running,10,High,184.0,2.0
13,2129.0,Stairs,5,Low,186.0,-2.0
14,1872.0,Swimming,0,NaN,185.0,1.0
15,1957.0,Running,15,Medium,183.5,1.5
16,1790.0,Stairs,10,Medium,181.0,2.5
17,NaN,Swimming,30,High,180.0,1.0
18,1842.0,Running,25,High,178.0,2.0
19,2173.0,Stairs,15,Medium,178.3,-0.3

In [4]:
fill_avg(exercise,'Calories')

/tmp/ipykernel_14827/1624446257.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].replace(np.nan, x[col].mean(), inplace=True)

,Calories,Exercise Type,Length of Exercise (min),Quality of Exercise,Next-day Weight,Weight Lost
0,2520.000000,Running,10,Low,194.5,0.0
1,1850.000000,Stairs,10,High,193.0,1.5
2,1925.000000,Swimming,30,Medium,191.8,1.2
3,1790.000000,Running,20,High,187.0,4.8
4,2120.000000,Stairs,10,Medium,189.0,-2.0
5,1910.000000,Swimming,35,Medium,186.0,3.0
6,1845.000000,Running,20,Low,186.0,0.0
7,2343.000000,Stairs,15,Low,189.0,-3.0
8,1886.000000,Swimming,30,High,188.0,1.0
9,2149.000000,Running,15,High,190.0,-2.0
10,1797.000000,Stairs,10,High,187.0,3.0
11,1990.666667,Swimming,25,Medium,186.0,1.0
12,1934.000000,Running,10,High,184.0,2.0
13,2129.000000,Stairs,5,Low,186.0,-2.0
14,1872.000000,Swimming,0,NaN,185.0,1.0
15,1957.000000,Running,15,Medium,183.5,1.5
16,1790.000000,Stairs,10,Medium,181.0,2.5
17,1990.666667,Swimming,30,High,180.0,1.0
18,1842.000000,Running,25,High,178.0,2.0
19,2173.000000,Stairs,15,Medium,178.3,-0.3

In [5]:
exercise = one_hot(exercise,'Exercise Type')
exercise

,Calories,Length of Exercise (min),Quality of Exercise,Next-day Weight,Weight Lost,Running,Stairs,Swimming
0,2520.000000,10,Low,194.5,0.0,1,0,0
1,1850.000000,10,High,193.0,1.5,0,1,0
2,1925.000000,30,Medium,191.8,1.2,0,0,1
3,1790.000000,20,High,187.0,4.8,1,0,0
4,2120.000000,10,Medium,189.0,-2.0,0,1,0
5,1910.000000,35,Medium,186.0,3.0,0,0,1
6,1845.000000,20,Low,186.0,0.0,1,0,0
7,2343.000000,15,Low,189.0,-3.0,0,1,0
8,1886.000000,30,High,188.0,1.0,0,0,1
9,2149.000000,15,High,190.0,-2.0,1,0,0
10,1797.000000,10,High,187.0,3.0,0,1,0
11,1990.666667,25,Medium,186.0,1.0,0,0,1
12,1934.000000,10,High,184.0,2.0,1,0,0
13,2129.000000,5,Low,186.0,-2.0,0,1,0
14,1872.000000,0,NaN,185.0,1.0,0,0,1
15,1957.000000,15,Medium,183.5,1.5,1,0,0
16,1790.000000,10,Medium,181.0,2.5,0,1,0
17,1990.666667,30,High,180.0,1.0,0,0,1
18,1842.000000,25,High,178.0,2.0,1,0,0
19,2173.000000,15,Medium,178.3,-0.3,0,1,0

In [6]:
exercise = ordinal_encode(exercise,'Quality of Exercise')
exercise

,Calories,Length of Exercise (min),Quality of Exercise,Next-day Weight,Weight Lost,Running,Stairs,Swimming
0,2520.000000,10,1,194.5,0.0,1,0,0
1,1850.000000,10,3,193.0,1.5,0,1,0
2,1925.000000,30,2,191.8,1.2,0,0,1
3,1790.000000,20,3,187.0,4.8,1,0,0
4,2120.000000,10,2,189.0,-2.0,0,1,0
5,1910.000000,35,2,186.0,3.0,0,0,1
6,1845.000000,20,1,186.0,0.0,1,0,0
7,2343.000000,15,1,189.0,-3.0,0,1,0
8,1886.000000,30,3,188.0,1.0,0,0,1
9,2149.000000,15,3,190.0,-2.0,1,0,0
10,1797.000000,10,3,187.0,3.0,0,1,0
11,1990.666667,25,2,186.0,1.0,0,0,1
12,1934.000000,10,3,184.0,2.0,1,0,0
13,2129.000000,5,1,186.0,-2.0,0,1,0
14,1872.000000,0,0,185.0,1.0,0,0,1
15,1957.000000,15,2,183.5,1.5,1,0,0
16,1790.000000,10,2,181.0,2.5,0,1,0
17,1990.666667,30,3,180.0,1.0,0,0,1
18,1842.000000,25,3,178.0,2.0,1,0,0
19,2173.000000,15,2,178.3,-0.3,0,1,0

Now, our data is 100% numerical, and ready to be put into a model.

### Feature Scaling
Even though the data is all numerical and ready for the model, it could still potentially cause problems. For example, let's say we are looking at the housing market and want to compare the price of the house and the number of bedrooms to the square footage. The scale of the house price (around $500,000) is very different from the scale of the number of bedrooms (2-7). Since the scale for the house price is so much larger, the variation of prices is larger, and this may weigh more heavily in a model than the number of bedrooms, when the number of bedrooms may be a better indicator.

To put the variables on the same scale, we apply __feature scaling__, where we scale all features so that they are all on similar scales. There are two ways to scale everything:
1. __Standardization__ (aka, Min-Max scaling)
* Scales all values to a range of [0,1], 0 representing the minimum, 1 the maximum
$$x_{scaled} = \frac{x-x_{min}}{x_{max}-x_{min}}$$

2. __Normalization__
* Scales all values based on the mean and standard deviation
$$x_{scaled} = \frac{x-\bar{x}}{s}$$

In [8]:
def standard_scale(x, col):
    return (x[col] - x[col].min()) / (x[col].max() - x[col].min())

def normal_scale(x, col):
    return (x[col] - x[col].mean()) / x[col].std(ddof=1)

In [9]:
for c in exercise.columns:
    exercise[c] = standard_scale(exercise, c)

display(exercise.head())

,Calories,Length of Exercise (min),Quality of Exercise,Next-day Weight,Weight Lost,Running,Stairs,Swimming
0,1.000000,0.285714,0.333333,1.000000,0.384615,1.0,0.0,0.0
1,0.082192,0.285714,1.000000,0.909091,0.576923,0.0,1.0,0.0
2,0.184932,0.857143,0.666667,0.836364,0.538462,0.0,0.0,1.0
3,0.000000,0.571429,1.000000,0.545455,1.000000,1.0,0.0,0.0
4,0.452055,0.285714,0.666667,0.666667,0.128205,0.0,1.0,0.0

Note that any test data and any new data sent to the model has to go through the same preprocessing (one-hot encoding, ordinal encoding, feature scaling) that the training data did. For this reason, it is nice to simplify and automate the process, which is what we will discuss next.

### Piping functions into one command

We can also do all of these functions in one command. We do this by taking the output of one function and using it as the input for another function. In a very messy way, we can do it this way.

In [10]:
exercise = pd.read_csv('Data/exercise.csv')
exercise = ordinal_encode(one_hot(fill_avg(drop_col(exercise,'Date'),'Calories'),'Exercise Type'),'Quality of Exercise')
exercise

/tmp/ipykernel_14827/1624446257.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].replace(np.nan, x[col].mean(), inplace=True)

,Calories,Length of Exercise (min),Quality of Exercise,Next-day Weight,Weight Lost,Running,Stairs,Swimming
0,2520.000000,10,1,194.5,0.0,1,0,0
1,1850.000000,10,3,193.0,1.5,0,1,0
2,1925.000000,30,2,191.8,1.2,0,0,1
3,1790.000000,20,3,187.0,4.8,1,0,0
4,2120.000000,10,2,189.0,-2.0,0,1,0
5,1910.000000,35,2,186.0,3.0,0,0,1
6,1845.000000,20,1,186.0,0.0,1,0,0
7,2343.000000,15,1,189.0,-3.0,0,1,0
8,1886.000000,30,3,188.0,1.0,0,0,1
9,2149.000000,15,3,190.0,-2.0,1,0,0
10,1797.000000,10,3,187.0,3.0,0,1,0
11,1990.666667,25,2,186.0,1.0,0,0,1
12,1934.000000,10,3,184.0,2.0,1,0,0
13,2129.000000,5,1,186.0,-2.0,0,1,0
14,1872.000000,0,0,185.0,1.0,0,0,1
15,1957.000000,15,2,183.5,1.5,1,0,0
16,1790.000000,10,2,181.0,2.5,0,1,0
17,1990.666667,30,3,180.0,1.0,0,0,1
18,1842.000000,25,3,178.0,2.0,1,0,0
19,2173.000000,15,2,178.3,-0.3,0,1,0

However, this code is very difficult to read. So, we use __piping__ instead, which sends a dataset into a function, whose result is sent to another function, whose result is sent to another function, etc.

In [11]:
exercise = pd.read_csv('Data/exercise.csv')
exercise = (exercise.pipe(drop_col,'Date')
                    .pipe(fill_avg,'Calories')
                    .pipe(one_hot,'Exercise Type')
                    .pipe(ordinal_encode, 'Quality of Exercise')
            )
exercise

/tmp/ipykernel_14827/1624446257.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].replace(np.nan, x[col].mean(), inplace=True)

,Calories,Length of Exercise (min),Quality of Exercise,Next-day Weight,Weight Lost,Running,Stairs,Swimming
0,2520.000000,10,1,194.5,0.0,1,0,0
1,1850.000000,10,3,193.0,1.5,0,1,0
2,1925.000000,30,2,191.8,1.2,0,0,1
3,1790.000000,20,3,187.0,4.8,1,0,0
4,2120.000000,10,2,189.0,-2.0,0,1,0
5,1910.000000,35,2,186.0,3.0,0,0,1
6,1845.000000,20,1,186.0,0.0,1,0,0
7,2343.000000,15,1,189.0,-3.0,0,1,0
8,1886.000000,30,3,188.0,1.0,0,0,1
9,2149.000000,15,3,190.0,-2.0,1,0,0
10,1797.000000,10,3,187.0,3.0,0,1,0
11,1990.666667,25,2,186.0,1.0,0,0,1
12,1934.000000,10,3,184.0,2.0,1,0,0
13,2129.000000,5,1,186.0,-2.0,0,1,0
14,1872.000000,0,0,185.0,1.0,0,0,1
15,1957.000000,15,2,183.5,1.5,1,0,0
16,1790.000000,10,2,181.0,2.5,0,1,0
17,1990.666667,30,3,180.0,1.0,0,0,1
18,1842.000000,25,3,178.0,2.0,1,0,0
19,2173.000000,15,2,178.3,-0.3,0,1,0

## Using classes and objects

In [13]:
import numpy as np
import pandas as pd

class LoadExercise():
    def __init__(self, url):
        self.data = pd.read_csv(url)

    def clean_data(self):
        # Drop column
        self.data.drop('Date', axis=1, inplace=True) 
        # Function to fill in missing values
        self.data['Calories'].replace(np.nan, self.data['Calories'].mean(), inplace=True) 
        # One-hot encode categorical data
        self.data = self.data.join(pd.get_dummies(self.data['Exercise Type']).astype(int)).drop('Exercise Type', axis=1) 
        # Ordinal encode categorical data
        order = {
            'None':0,
            np.nan:0,
            'Low':1,
            'Medium':2,
            'High':3
        }
        self.data['Quality of Exercise'] = self.data['Quality of Exercise'].map(order)

exercise = LoadExercise('Data/exercise.csv')
print(exercise.data.head())

exercise.clean_data()
display(exercise.data.head())

    Date  Calories Exercise Type  Length of Exercise (min)  \
0  1-Jan    2520.0       Running                        10
1  2-Jan    1850.0        Stairs                        10
2  3-Jan    1925.0      Swimming                        30
3  4-Jan    1790.0       Running                        20
4  5-Jan    2120.0        Stairs                        10

  Quality of Exercise  Next-day Weight  Weight Lost
0                 Low            194.5          0.0
1                High            193.0          1.5
2              Medium            191.8          1.2
3                High            187.0          4.8
4              Medium            189.0         -2.0

/tmp/ipykernel_14827/925703272.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.data['Calories'].replace(np.nan, self.data['Calories'].mean(), inplace=True)

,Calories,Length of Exercise (min),Quality of Exercise,Next-day Weight,Weight Lost,Running,Stairs,Swimming
0,2520.0,10,1,194.5,0.0,1,0,0
1,1850.0,10,3,193.0,1.5,0,1,0
2,1925.0,30,2,191.8,1.2,0,0,1
3,1790.0,20,3,187.0,4.8,1,0,0
4,2120.0,10,2,189.0,-2.0,0,1,0

## Using *sci-kit learn*

*Scikit-learn* has a number of packages to do these preprocessing tasks. These functions have a lot of features that do the job more effectively and cleanly, so is a better option than our self-made functions.

In [19]:
# Set up variables
exercise = pd.read_csv('Data/exercise.csv')
X = exercise.drop(['Date','Weight Lost'], axis=1).values

print(X)

# Ordinal Encoder won't like nan values. Change to 'None'
# This fits with data since there was 0 activity for that day
X[:,3] = ['None' if x is np.nan else x for x in X[:,3]]

print(X)
print(type(X))

[[2520.0 'Running' 10 'Low' 194.5]
 [1850.0 'Stairs' 10 'High' 193.0]
 [1925.0 'Swimming' 30 'Medium' 191.8]
 [1790.0 'Running' 20 'High' 187.0]
 [2120.0 'Stairs' 10 'Medium' 189.0]
 [1910.0 'Swimming' 35 'Medium' 186.0]
 [1845.0 'Running' 20 'Low' 186.0]
 [2343.0 'Stairs' 15 'Low' 189.0]
 [1886.0 'Swimming' 30 'High' 188.0]
 [2149.0 'Running' 15 'High' 190.0]
 [1797.0 'Stairs' 10 'High' 187.0]
 [nan 'Swimming' 25 'Medium' 186.0]
 [1934.0 'Running' 10 'High' 184.0]
 [2129.0 'Stairs' 5 'Low' 186.0]
 [1872.0 'Swimming' 0 nan 185.0]
 [1957.0 'Running' 15 'Medium' 183.5]
 [1790.0 'Stairs' 10 'Medium' 181.0]
 [nan 'Swimming' 30 'High' 180.0]
 [1842.0 'Running' 25 'High' 178.0]
 [2173.0 'Stairs' 15 'Medium' 178.3]]
[[2520.0 'Running' 10 'Low' 194.5]
 [1850.0 'Stairs' 10 'High' 193.0]
 [1925.0 'Swimming' 30 'Medium' 191.8]
 [1790.0 'Running' 20 'High' 187.0]
 [2120.0 'Stairs' 10 'Medium' 189.0]
 [1910.0 'Swimming' 35 'Medium' 186.0]
 [1845.0 'Running' 20 'Low' 186.0]
 [2343.0 'Stairs' 15 'Low' 189.0]
 [1886.0 'Swimming' 30 'High' 188.0]
 [2149.0 'Running' 15 'High' 190.0]
 [1797.0 'Stairs' 10 'High' 187.0]
 [nan 'Swimming' 25 'Medium' 186.0]
 [1934.0 'Running' 10 'High' 184.0]
 [2129.0 'Stairs' 5 'Low' 186.0]
 [1872.0 'Swimming' 0 'None' 185.0]
 [1957.0 'Running' 15 'Medium' 183.5]
 [1790.0 'Stairs' 10 'Medium' 181.0]
 [nan 'Swimming' 30 'High' 180.0]
 [1842.0 'Running' 25 'High' 178.0]
 [2173.0 'Stairs' 15 'Medium' 178.3]]
<class 'numpy.ndarray'>

In [15]:
y = np.array(exercise['Weight Lost'])
print(y)

[ 0.   1.5  1.2  4.8 -2.   3.   0.  -3.   1.  -2.   3.   1.   2.  -2.
  1.   1.5  2.5  1.   2.  -0.3]

In [ ]:
# Fill Missing Values
## Calories = Column 0

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:,0:1])
X[:,0:1] = imputer.transform(X[:,0:1])

print(X)

In [ ]:
# One-hot Encode Nominal Variables
from sklearn.preprocessing import OneHotEncoder

onehot = OneHotEncoder()
onehot.fit_transform(X[:,1:2]).toarray()

# Columns are in Alphabetical Order
# 1st Column = Running
# 2nd Column = Stairs
# 3rd Column = Swimming

In [ ]:
# Ordinal Encode Ordinal Variables
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['None','Low','Medium','High']])
oe.fit_transform(X[:,3].reshape(-1,1))

#### Piping functions in one command

In [ ]:
# One-hot Encode nominal variables and Ordinal Encode
# ordinal variables but keep all variables

# Reload Data and set up variables
exercise = pd.read_csv('Data/exercise.csv')
X = exercise.drop(['Date','Weight Lost'], axis=1).values
y = np.array(exercise['Weight Lost'])

# Ordinal Encoder won't like nan values. Change to 'None'
# This fits with data since there was 0 activity for that day
X[:,3] = ['None' if x is np.nan else x for x in X[:,3]]

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# When putting in the columns in each imputer/encoder, indicate the column
# of the original matrix
  # [0]: Calories - fill missing values
  # [1]: Exercise Type - One-hot encoding
  # [3]: Quality of Exercise - Ordinal encoding

ct = ColumnTransformer(transformers=[
      ('imputer', SimpleImputer(missing_values=np.nan, strategy='mean'), [0]),  # This is placed first in X
      ('onehot', OneHotEncoder(), [1]),                                         # This is placed second in X
      ('oe', OrdinalEncoder(categories=[['None','Low','Medium','High']]), [3])  # This is placed third in X
    ], remainder='passthrough')                     # Remaining columns placed in order after the last encoder



X = np.array(ct.fit_transform(X))
X

## Feature Scaling
The scales of variables can have a very large impact on the results of the model. For instance, consider this example of employee salaries:

In [7]:
import numpy as np
import pandas as pd

salaries = {
    'ID':['01','02','03'],
    'Salary':[70000,60000,52000],
    'Years of Experience':[5,4,1]
}

df = pd.DataFrame(salaries, index=salaries['ID']).drop('ID', axis=1)
df

    Salary  Years of Experience
01   70000                    5
02   60000                    4
03   52000                    1

We want to group employees together. Employees 1 and 3 are definitely in different groups. But how would we group Employee 2? Employee 2 is closer to Employee 1 in salary, but to Employee 3 in experience. 

The scale is throwing us off, so we look at __feature scaling__. There are two methods of feature scaling:
1. Standardization
$$\hat{x} = \frac{x-\bar{x}}{s}$$
2. Min-Max Scaling
$$\hat{x} = \frac{x-x_{min}}{x_{max}-x_{min}}$$
3. Normalization
$$\hat{x} = \frac{x-\bar{x}}{x_{max}-x_{min}}$$

Standardization will generally give a number in the range [-3,3] (outliers will be more extreme than that), while min-max scaling and normalization will always give a result between [0,1].

Let's see how each method affects the data.

In [8]:
# Normalize
def normalize_df(x):
    return (x-x.min())/(x.max()-x.min())

normalize_df(df)

      Salary  Years of Experience
01  1.000000                 1.00
02  0.444444                 0.75
03  0.000000                 0.00

In [9]:
# Standardize
def standardize_df(x):
    return (x-x.mean())/(x.std(ddof=1))

standardize_df(df)

      Salary  Years of Experience
01  1.034910             0.800641
02 -0.073922             0.320256
03 -0.960988            -1.120897

What do we see? Looking at the original data, the gap in salaries between Employees 1 and 2 was so large that we'd say that Employee 2 was closer to Employee 3. But as we look at the standardized and normalized data, we see that the salary of Employee 2 is very nearly in the middle (0 for Standardized, 0.5 for Normalized). So, the Salary may not be a good indicator. But looking at the Years of Experience, we see Employee 2 is actually very close to Employee 1. So, it is more likely for Employee 2 to be grouped with Employee 1.

#### Using Scikit-Learn

Scikit-Learn generally doesn't use DataFrames. For Scikit-Learn models and processes, convert data into a numpy array first.

In [12]:
X = df.values

# Standardized Scaler
from sklearn.preprocessing import StandardScaler

st_scaler = StandardScaler()
st_scaler.fit(X)                  # Only creates the scaler
X1 = st_scaler.fit_transform(X)   # Creates and then applies the scaler
X2 = st_scaler.transform(X)       # Only applies the scaler

print(X1)

# Normalized Scaler, aka Min-Max Scaler
from sklearn.preprocessing import MinMaxScaler

mm_scaler = MinMaxScaler()
mm_scaler.fit(X)                  # Only creates the scaler
X1 = mm_scaler.fit_transform(X)   # Creates and then applies the scaler
X2 = mm_scaler.transform(X)       # Only applies the scaler

print(X1)

[[ 1.26750044  0.98058068]
 [-0.09053575  0.39223227]
 [-1.1769647  -1.37281295]]
[[1.         1.        ]
 [0.44444444 0.75      ]
 [0.         0.        ]]

-----
# Class Project 1
There was a survey completed asking young people a few questions regarding preferences. Here is a quick explanation of the dataset
* The ['Music', 'Techno', 'Movies', 'History', 'Mathematics', 'Pets', 'Spiders'] columns indicate how much the person likes or dislikes each category on a scale of 1-5
* The ['Loneliness'] column indicates how lonely a person feels on a scale of 1-5
* The ['Parents Advice'] column indicates how much the person appreciates advice from parents on a scale of 1-5
* The ['Internet usage'] column indicates how much time is spent online on a scale of 1-5
* The ['Finances'] column indicates how stable the person is financially on a scale of 1-5
* The ['Age'] column is the person's age
* The ['Siblings'] column is the number of siblings the person has
* The ['Gender'] is male/female
* The ['Village - town'] indicates whether the person lives in the city (urban living) or in a village (rural living)

We are going to use the dataset to create a model to predict whether a person is likely to be lonely or not. Your job in this project is to complete the entire data preprocessing for the data.

* Load the *young-people-survey-responses* dataset
  * Located on the [github page](https://github.com/drolsonmi/math3480)
* Perform Data Preprocessing on this data
  * What variables are not needed? Drop them
  * Handle missing values 
    * If more than 10% of the values in a given row/column are missing, remove them
    * If fewer than 10% of the values in a given row/column are missing, fill them with min, max, mean, or median - whatever will best deal with each variable
  * Encode categorical variables using either one-hot encoding, ordinal encoding, or label encoding
* Divide the data into Training and Testing Groups
* Scale the features by using standardized scaling
  * Do all features need to be scaled? Consider each variable carefully.
* Apply to a logistic regression model to see if you can model