# Lecture 2 Data Handling
__MATH 3480__ - Dr. Michael Olson

Outline:
* Obtaining Data
* Loading Data
* Cleaning Data
   * Missing Labels
   * Missing Values
* Data Wrangling
   * Joins and Merges

Reading
* Geron, Chapter 2 (pp. 42-51, 62-72)
* McKinney, Chapter 7 (pp. 203-209), Chapter 8 (pp. 253-268)

## Obtaining Data

From Math 3080, we saw the following ways to obtain data:
* Online websites (Kaggle, Data Centers)
* Web scraping
* Application Programming Interfaces (APIs)

In [ ]:
###   Online Websites   ###

import pandas as pd

# Crime Statistics between 2000 and 2020 - Used in Math 3080
# https://github.com/drolsonmi/math3080/blob/main/Datasets/Crime_Statistics_2000-2020.csv

crimes = pd.read_csv('https://raw.githubusercontent.com/drolsonmi/math3080/main/Datasets/Crime_Statistics_2000-2020.csv')

In [ ]:
###   Web Scraping   ###

In [ ]:
###   APIs   ###

import pandas as pd
import requests

# First, you need to register for an account with the website supplying the API.
# When registering, you will need an authorization key

url = "https://api.yelp.com/v3/businesses/search"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer hZU3WOBIK3jklJqIzew0uDFK_vjSYmoKToQQejrQuceKPGu8SF6M_-SuAT7asN6RNldA_kZvQGrE-3vh-RuQxHxRNUUKkHeRk03p_RLCQcO6ZZvHKMHoR5sEh7f3Y3Yx"
}

params = {
    "term" : "restaurants",
    #"latitude" : 40.77,
    #"longitude" : -111.9,
    "location" : "Ephraim, UT",
    "radius" : 5000,                  ## Units????
    "limit" : 50
}

response = requests.get(url, headers=headers, params=params)

## Loading Data

In [ ]:
import numpy as np
import pandas as pd


## From Seaborn
import seaborn as sns
iris = sns.load_dataset('iris')

In [ ]:
import pandas as pd

## From SciKit-Learn
from sklearn.datasets import load_iris
iris2 = load_iris()

iris_df = pd.DataFrame(iris2['data'], columns=iris2['feature_names'])
iris_df

In [ ]:


## From a File
X = np.loadtxt('Data/X.txt')                      # Numpy array
ins = pd.read_csv('Data/insurance.csv', sep=",")  # Pandas DataFrame


## From a website
crimes = pd.read_csv('https://raw.githubusercontent.com/drolsonmi/math3080/main/Datasets/Crime_Statistics_2000-2020.csv')

In [ ]:
###  Example from Geron textbook that automates the entire process  ###
import os
import tarfile
import urllib.request

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml2/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

# This function creates a datasets/housing subdirectory on your computer, then
# downloads the file into that directory
def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    if not os.path.isdir(housing_path):
        os.makedirs(housing_path)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()

# This function opens up the dataset
import pandas as pd

def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)

In [ ]:
fetch_housing_data()            # Download the file
housing = load_housing_data()   # Load the file

## Cleaning Data

Problems that can come up with data:
* Unlabelled data
* Missing data
* Unorganized data

All data needs to be labelled. If the labels aren't in the file, then there should be another file that explains the data. Labels are often described in
* separate README file
* top of the data file


Ways that missing data could be indicated:
* An extreme number (9999, -9999)
* NaN (Not a Number)
* Blank entry (no information) - programs usually fill these with NaN

Let's use the dataset of Titanic passengers. We'll load them below. Data descriptions found at [https://campus.lakeforest.edu/frank/FILES/MLFfiles/Bio150/Titanic/TitanicMETA.pdf](https://campus.lakeforest.edu/frank/FILES/MLFfiles/Bio150/Titanic/TitanicMETA.pdf)

In [ ]:
from sklearn.datasets import fetch_openml
X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True, parser='auto')

df = X.copy()
df['survived'] = y
df.head()

In [ ]:
X.head()

In [ ]:
X.shape

Determine if there are any missing values

In [ ]:
df.isnull().sum()

Solutions to missing data:
* Drop the observations
   * If there are a large number of observations and only a few have missing values
     ```python        
     # Drop all observations with missing values
     df.dropna(axis=0, inplace=True)

     # Drop observations with missing values in a specific variable
     df['age'].dropna(axis=0, inplace=True)
     ```
* Drop the variable
   * If there is an extremely large percentage of data from a given variable that are missing
     ```python
     # Drop variables
     df.drop('body', axis=1, inplace=True)
     ``````

* Replace
   * If the missing value in depicted with a large, unreasonable number, we can just replace it with *NaN*
   ```python
   df.replace(-999, np.nan)
   ```

* Fill in ...
   * ... with variable mean
   * ... with variable maximum
   * ... with variable minimum

In [ ]:
# Fill in with variable mean
## Simple Method

df['fare'].fillna(df['fare'].mean(), inplace=True)
  # Can also use `axis=1` to do this for all numerical columns

df.isnull().sum()

In [ ]:
# Fill in with variable mean
## Machine Learning Method
  # Can be applied to multiple columns at the same time

# import the SimpleImputer class from the impute module of the sklearn library
from sklearn.impute import SimpleImputer 

# Create an object using the SimpleImputer class
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

imputer.fit(X['fare'].values.reshape(-1,1))
X['fare'] = imputer.transform(X['fare'].values.reshape(-1,1))

X.isnull().sum()

## Data Wrangling
In 3080, we covered:
* Sorting (McKinney, Section 8.1)
* Mapping (McKinney, Section 7.2)
* Sampling (McKinney, Section 7.2)
* Dummy Variables
* Join / Merge / Concatenate (McKinney, Section 8.2)
  * For a good description of Joins, see [Irizarry: Introduction to Data Science, Section 12.1](https://rafalab.dfci.harvard.edu/dsbook-part-1/wrangling/joining-tables.html)
* Pivot Table / Melt (McKinney, Section 8.3)
* Groupbys / Aggregation (McKinney, Section 10.2)

In [ ]:
import pandas as pd

meat_data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon",
                              "pastrami", "corned beef", "bacon",
                              "pastrami", "honey ham", "nova lox"],
                      "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
meat_data

In [ ]:
###  Sorting  ###

In [ ]:
###  Mapping  ###
meat_to_animal = {
  "bacon": "pig",
  "pulled pork": "pig",
  "pastrami": "cow",
  "corned beef": "cow",
  "honey ham": "pig",
  "nova lox": "salmon"
}

meat_data['Animal'] = meat_data['food'].map(meat_to_animal)
meat_data

In [ ]:
###  Sampling  ###
samples = np.random.permutation(9)
print(samples)

meat_data.iloc[samples[:4]]

In [ ]:
meat_data.sample(n=4)

In [ ]:
###  Dummy Variables  ###
pd.get_dummies(meat_data['Animal'])

### Concatenate

In [ ]:
###  Concatenate  ###
import numpy as np
d1 = np.arange(12).reshape((3,4))
d2 = (np.arange(12) + 20).reshape((3,4))
display(d1,d2)

In [ ]:
np.concatenate([d1,d2], axis=0)

In [ ]:
np.concatenate([d1,d2], axis=1)

### Join
4 Join Types
* Left Join - only join observations in the first (left-hand) matrix
* Right Join - only join observations in the second (right-hand) matrix
* Inner Join - only join observations in both matrices
* Outer Join - join all observations in both matrices

In [ ]:
###  Join  ###

import pandas as pd

departments = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue', 'Kevin'],
                    'department': ['Accounting', 'Engineering', 'Engineering', 'HR', 'Accounting']})

hire_dates = pd.DataFrame({'employee': ['Lisa', 'Hannah', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2009, 2008, 2012, 2014]})

supervisors = pd.DataFrame({'department': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})

display(departments, hire_dates, supervisors)

In [ ]:
pd.merge(departments,hire_dates, how="left")

In [ ]:
pd.merge(departments,hire_dates, how="right")

In [ ]:
pd.merge(departments,hire_dates, how="inner")

In [ ]:
employees = pd.merge(departments,hire_dates, how="outer")
display(employees)

In [ ]:
employees = pd.merge(employees, supervisors, how="left", left_on="department", right_on="department")
display(employees)

### Melting
Goes from "Wide" to "Long" format

In [ ]:
###  Melt  ###
# Goes from "Wide" to "Long" format
display(employees)
employees.melt(id_vars="employee")

### Pivot Tables
Goes from "Long" to "Wide" format

In [ ]:
student_scores = pd.DataFrame({
    'StudentID' : [1,2,3,4,5, 1,2,3,4,5, 1,2,3,4,5],
    'Exam #' : [1,1,1,1,1, 2,2,2,2,2, 3,3,3,3,3],
    'Score' : [91,92,97,87,83, 82,89,85,79,93, 86,78,84,97,94]
})
display(student_scores)

In [ ]:
scores_pivot = student_scores.pivot(index='StudentID', columns='Exam #', values = 'Score')
display(scores_pivot)

### Groupby

In [ ]:
student_scores.groupby('Exam #').mean()

In [ ]:
student_scores.groupby('Exam #').max()

In [ ]:
student_scores.groupby('StudentID').sum()